.App {
  font-family: "Roboto" !important;
}

/*  SCROLLBAR  */

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #888 ;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #90a4ae ;
}